* {
    margin: 0%;
}
.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: normal;
    background-color: blue ;
    z-index: 1;
}
.csslayouting {
    margin-top: 100px;
}
.static {
    background-color: aqua;
    position: static;
    width: 90%;
}
    
.relative {
    background-color: aqua;
    position: relative;
}
.absolute {
    position: absolute;
    position: absolute;

}
.sticky1 {
    background-color: aqua;
    position: sticky;
    bottom: 2%;
}
.sticky2 {
    background-color: aqua;
    position: sticky;
    top: 100px; 
}